// base color
$purple: #701e5e; // 根据你想要的紫色值进行定义
$light-purple: #b565a7;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#ffffff;
$menuActiveText:#f4f4f5;
$subMenuActiveText:#eec4fa; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#553056;
$menuHover:#452640;

$subMenuBg:#361f3d;
$subMenuHover:#200028;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
